<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col-6"></th>
      <th scope="col-6"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<%= form_with model: 
</div>