
  <div class="row">
    <h1>管理画面トップ</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>運送会社</h4>
      <p><%= link_to "運送会社一覧", admin_transport_companies_path %> </p>
      <h4>運転手</h4>
      <p><%= link_to "運転手一覧", admin_drivers_path %></p>
    </div>
    <div class="col-6">
      <h4>免許</h4>
      <p><%= link_to "免許一覧", admin_licenses_path %></p>
      <h4>会社</h4>
      <p><%= link_to "会社一覧", admin_companies_path %></p>
    </div>
  </div>
