
  <div class="row">
    <h4>免許新規登録</h4>
    <%= form_with model: @license, url: admin_license_path(@license.id), method: :patch do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "編集" %>
    <% end %>
  </div>
