<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">会社名</th>
      <th scope="col">電話番号</th>
      <th scope="col">住所</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="bookmark-index">
    <%= render "public/bookmarks/index", bookmarks: @bookmarks %>
  </tbody>
</table>
<%= paginate @bookmarks %>
</div>